<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Área administrativa | SGP</title>
    <script type="text/javascript" src="../../static/js/fornecedor.js"></script>
  </head>

  <body>

    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
          </div>
        </div>
      </main>
    </header>

    <div class="content">

      <a href="../homeAdmin/index.html">
				<button class="back-button"></button>
			</a>

      <a href="../addFornecedor/index.html">
        <div class="box-add-fornecedor">
          <h1>+</h1>
          <p>Adicionar fornecedor</p>
        </div>
      </a>
        
      <p class="main-title">Fornecedores</p>

      <div class="tabela">

        <div class="header-column w12_5">
          <p>Código</p>
        </div>

        <div class="header-column w12_5">
          <p>Razão social</p>
        </div>

        <div class="header-column w12_5">
          <p>Email</p>
        </div>

        <div class="header-column w12_5">
            <p>Tempo entrega</p>
        </div>

        <div class="header-column w12_5">
          <p>Produtos</p>
        </div>
        
        <div class="header-column w12_5">
          <p>CNPJ</p>
        </div>

      </div> <!-- tabela -->

      
    <!-- content -->

  </body>

</html>