<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/editarPedido.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
		<script type="text/javascript" src="../../static/js/editarTemporada.js"></script>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<a href="../temporadas/index.html">
				<button class="back-button"></button>
			</a>

			<div class="box-editar">
				<p class="main-title">Editar Temporada de Vendas</p>
				<form action="" method="POST">
					<div class="label-textfield">
						<p class="label-attribute">Descrição*</p>
						<input
							type="text"
							placeholder="Insira a descrição da temporada..."
							value="Temporada de pedidos DACompSI 2023/1"
							id="name"
							name="descricao"
              class="descricao" />
					</div>

          <div class="label-textfield">
						<p class="label-attribute">Início*</p>
						<input
							type="text"
							placeholder="Insira o início da temporada..."
							value="01/02/2023"
							id="name"
							name="inicio"
              class="inicio" />
					</div>

          <div class="label-textfield">
						<p class="label-attribute">Término*</p>
						<input
							type="text"
							placeholder="Insira o término da temporada..."
							value="01/07/2023"
							id="name"
							name="termino"
              class="termino" />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Produtos</p>
						<input class="caneca"  type="checkbox" id="caneca" name="caneca" value="caneca" />
						<label for="caneca"> Caneca</label><br />
						<input class="tirante" type="checkbox" id="tirante" name="tirante" value="tirante" />
						<label for="tirante"> Tirante</label><br />
						<input class="camisa" type="checkbox" id="camisa" name="camisa" value="camisa" />
						<label for="camisa"> Camisa</label><br />
					</div>

					<button type="submit" class="button-salvar">Salvar</button>
				</form>
			</div>
		</div>
	</body>
</html>
