<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/homeAdmin.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Área administrativa | SGP</title>
  </head>

  <body>

    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
          </div>
        </div>
      </main>
    </header>

    <div class="content">
      <p class="title-area-admin">
        Área administrativa
      </p>
    </div>
      <div class="container">
        <div class="boxes">

          <a href="../pedidos/index.html">
            <div class="box-destaque-container">
              <div class="box-destaque">
                <p class="text-title">Ver pedidos</p>
              </div>
            </div>
          </a>

          <div class="box-sec-container">
            <div class="box-sec">
              <p class="text-title">Temporada de vendas</p>
            </div>

            <a href="../produtos/index.html">
              <div class="box-sec-2">
                <p class="text-title">Ver produtos</p>
              </div>
            </a>
          </div>
        </div>

        <a href="../fornecedores/index.html">
          <div class="box-sec-3">
            <p class="text-title">Fornecedores</p>
          </div>
        </a>
        
      </div>


  </body>

</html>