<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/editarPedido.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
		<script type="text/javascript" src="../../static/js/addFornecedor.js"></script>
		<meta charset="utf-8" />
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<button onclick="window.history.go(-1); return false;" class="back-button"></button>

			<div class="box-editar">
				<form action="" method="POST">
					<p class="main-title">Adicionar Fornecedor</p>

					<div class="label-textfield">
						<p class="label-attribute">Razão Social*</p>
						<input type="text" placeholder="Insira a razão social..." id="name" name="razaoSocial" />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">CNPJ*</p>
						<input type="text" placeholder="Insira o CNPJ..." id="cnpj-field" name="cnpj" />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Email*</p>
						<input type="email" placeholder="Insira o Email..." id="e_mail" name="email" />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Tempo de entrega em dias*</p>
						<input type="text" placeholder="Insira o tempo..." id="time" name="tempoEntregaEmDias" />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Produtos</p>
						<input type="checkbox" id="caneca" name="caneca" value="caneca" />
						<label for="caneca"> Caneca</label><br />
						<input type="checkbox" id="tirante" name="tirante" value="tirante" />
						<label for="tirante"> Tirante</label><br />
						<input type="checkbox" id="camisa" name="camisa" value="camisa" />
						<label for="camisa"> Camisa</label><br />
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Observações</p>
						<textarea
							name="observacao"
							id="obs"
							placeholder="Adicione uma observação sobre o fornecedor..."
							cols="30"
							rows="10"></textarea>
					</div>

					<button type="submit" class="button-salvar">Salvar</button>
				</form>
			</div>
		</div>
	</body>
</html>
