<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verPedidos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Sistema de Pedidos DACompSI</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                    <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
                </div>
            </div>
        </main>
    </header>
    <div class="content">
        <a href="../addPedido/index.html">
            <button class="back-button"></button>
        </a>

        <h4>
            Seu Pedido:
        </h4>

        <div class="label-textfield">
            <p class="label-attribute">Nome*</p>
            <input type="text" placeholder="Insira o nome" id="name" name="fname">

            <p class="label-attribute">Email:*</p>
            <input type="text" placeholder="Digite seu email" id="name" name="fname">
        </div>
        <button type="submit" class="button-finalizar-pedido">Finalizar pedido</button>
    </div>





</body>

</html>