<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Área administrativa | SGP</title>
    <script type="text/javascript" src="../../static/js/observacao.js"></script>

  </head>

  <body>

    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
          </div>
        </div>
      </main>
    </header>

    <div class="content content-obs">

      <a href="../fornecedores/index.html">
        <button class="back-button"></button>
      </a>

      <p class="main-title">Observações - </p>
<div class ="cards">

  </div>
<form action="" method="post">
  <textarea name="comentario" id="add-obs" placeholder="Adicione uma observação sobre o fornecedor..." cols="30" rows="10"></textarea>

  <button type="submit" class="button-salvar">Adicionar</button>
  
</form>

  </body>

</html>