<html>

	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<a href="../homeAdmin/index.html">
				<button class="back-button"></button>
			</a>

			<a href="../addTemporada/index.html">
				<div class="box-add-produto">
					<h1>+</h1>
					<p>Adicionar Temporada de Vendas</p>
				</div>
			</a>

			<div class="pedidos">
				<p class="title-pedidos">Temporadas</p>
			</div>

			<div class="tabela">
				<div class="header-column w15">
					<p>Número</p>
				</div>

				<div class="header-column w15">
					<p>Descrição</p>
				</div>

				<div class="header-column w15">
					<p>Início</p>
				</div>

				<div class="header-column w15">
					<p>Término</p>
				</div>

				<div class="header-column w15">
					<p>Produtos</p>
				</div>

			</div>
			<!-- tabela -->

      <div class="tabela">
				<div class="column w15 first-column">
					<p>#92839481</p>
				</div>

				<div class="column w15">
					<p>Temporada de pedidos DACompSI 2023/1</p>
				</div>

				<div class="column w15">
					<p>2022-11-08T19:58:31.008568-03:00</p>
				</div>

				<div class="column w15">
					<p>2022-11-08T19:58:31.008568-03:00</p>
				</div>

				<div class="column w15">
					<p>Tirante, caneca</p>
				</div>

        <div class="column w12">
          <a href="../fornecedores/index.html">Finalizar Temporada</a>
				</div>

        <div class="column w6"> 
          <a href="../editarTemporada/index.html">
            <button type="submit" class="edit-button" style="border: 0; background: transparent"> 
              <img src="../../static/img/edit-button.svg" width="20px" alt="submit"/> 
            </button>
          </a>
        </div>

        <div class="column delete-button w6 last-column"> 
          <button style="border: 0; background: transparent"> 
            <img src="../../static/img/trash-icon.png" width="20px" alt="submit"/> 
          </button>
        </div>

			</div>
			<!-- tabela -->

		</div>
		<!-- content -->
	</body>
</html>
