<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/editarPedido.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
		<script type="text/javascript" src="../../static/js/addTemporada.js"></script>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<button onclick="window.history.go(-1); return false;" class="back-button"></button>

			<div class="box-editar">
				<p class="main-title">Adicionar Temporada de Vendas</p>
				<form action="" method="POST">
					<div class="label-textfield">
						<p class="label-attribute">Descrição*</p>
						<input
							type="text"
							placeholder="Insira a descrição da temporada..."
							id="name"
							name="descricao"
							class="descricao" />
					</div>

					<p class="label-attribute">Produtos</p>

					<div class="label-textfield">
						<input onchange="atualizarVisibilidade()" class="caneca" type="checkbox" id="caneca" name="caneca" value="caneca" />
						<label for="caneca"> Caneca</label>
						<input class="valorCaneca" id="name" name="valorCaneca" placeholder="Insira o valor da caneca..." />
					</div>

					<div class="label-textfield">
						<input onchange="atualizarVisibilidade()" class="tirante" type="checkbox" id="tirante" name="tirante" value="tirante" />
						<label for="tirante"> Tirante</label>
						<input class="valorTirante" id="name" name="valorTirante" placeholder="Insira o valor da tirante..." />
					</div>

					<div class="label-textfield">
						<input onchange="atualizarVisibilidade()" class="camisa" type="checkbox" id="camisa" name="camisa" value="camisa" />
						<label for="camisa"> Camisa</label>
						<input class="valorCamisa" id="name" name="valorCamisa" placeholder="Insira o valor da camisa..." />
					</div>

					<button type="submit" class="button-salvar">Salvar</button>
				</form>
			</div>
		</div>
	</body>
</html>
