<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/verPedidos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Sistema de Pedidos DACompSI</title>
</head>

<body>
    <header class="menu-principal">
        <main>
            <div class="header-1">
                <div class="logo">
                    <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
                </div>
            </div>
        </main>
    </header>
    <div class="content">
        <a href="../homeCliente/index.html">
            <button class="back-button"></button>
        </a>
        <h4>
            Seu Pedido:
        </h4>
        <a href="../finalizaPedido/index.html">
            <button type="submit" class="button-finalizar-pedido">Finalizar pedido</button>
        </a>
        <h3>
            Produtos em estoque
        </h3>
        <a href="../addProdutoPedido/index.html">
            <button type="submit" class="button-add-novo-produto">Adicionar novo produto</button>
        </a>
    </div>

</body>

</html>