<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/editarPedido.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
		<script src="../../static/js/addProduto.js"></script>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<button onclick="window.history.go(-1); return false;" class="back-button"></button>

			<div class="box-editar">
				<p class="main-title">Adicionar Produto</p>

				<form action="">
					<div class="label-textfield">
						<p class="label-attribute">Tipo de produto*</p>
						<select name="tipo" class="select-status tipo">
							<option value="">Selecione o tipo de produto</option>
							<option value="Camisa">Camisa</option>
							<option value="Tirante">Tirante</option>
							<option value="Caneca">Caneca</option>
						</select>
					</div>

					<div class="label-textfield">
						<p class="label-attribute">Preço*</p>
						<input type="text" placeholder="Insira o preço" id="price" name="valor" />
					</div>

					<div class="label-textfield modelo">
						<p class="label-attribute">Modelo*</p>
						<input type="text" placeholder="Insira o modelo" id="model" name="modelo" />
					</div>

					<div class="label-textfield curso">
						<p class="label-attribute">Curso*</p>
						<select name="curso" class="select-status">
							<option value="">Selecione o curso</option>
							<option value="Sistemas de Informação">Sistemas de Informação</option>
							<option value="Ciência da Computação">Ciência da Computação</option>
						</select>
					</div>

					<div class="label-textfield tamanho">
						<p class="label-attribute">Tamanho*</p>
						<select name="tamanho" class="select-status">
							<option value="">Selecione o tamanho</option>
							<option value="PP">PP</option>
							<option value="PPBL">PPBL</option>
							<option value="P">P</option>
							<option value="PBL">PBL</option>
							<option value="M">M</option>
							<option value="MBL">MBL</option>
							<option value="G">G</option>
							<option value="GBL">GBL</option>
							<option value="GG">GG</option>
							<option value="GGBL">GGBL</option>
							<option value="XG">XG</option>
							<option value="XGBL">XG</option>
						</select>
					</div>

					<div class="label-textfield cor">
						<p class="label-attribute">Cor*</p>
						<select name="cor" class="select-status">
							<option value="">Selecione uma cor</option>
							<option value="Preto">Preto</option>
							<option value="Branco">Branco</option>
							<option value="Azul">Azul</option>
							<option value="Vinho">Vinho</option>
							<option value="Cinza">Cinza</option>
							<option value="Rosa">Rosa</option>
							<option value="Petróleo">Petróleo</option>
							<option value="Verde">Verde</option>
						</select>
					</div>

					<button type="submit" class="button-salvar">Salvar</button>
				</form>
			</div>
		</div>
	</body>
</html>
