<html>

  <head>
    <link rel="stylesheet" type="text/css" href="../../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/homeAdmin.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css">
    <title>Área administrativa | SGP</title>
    <meta charset="utf-8" />
  </head>

  <body>

    <header class="menu-principal">
      <main>
        <div class="header-1">
          <div class="logo">
            <img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
          </div>
        </div>
      </main>
    </header>

    <div class="container-no-access">
      <img src="../../static/img/no-access.png" alt="Erro 404" />
      <div class="text-no-access">
        <h1>Oops!</h1>
        <h3>Parece que você não tem acesso a esta página 🙁</h3>
      </div>
    </div>

  </body>

</html>