<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/verProdutos.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/verPedidos.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Sistema de Pedidos DACompSI</title>
		<script src="../../static/js/addPedido.js"></script>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>
		<div class="content">
				<button onclick="window.history.go(-1); return false;" class="back-button"></button>

			<h4>Informações pessoais:</h4>
			<form action="">
				<div class="label-textfield">
					<p class="label-attribute">Nome*</p>
					<input type="text" placeholder="Insira o nome" id="price" name="nome" />
				</div>

				<div class="label-textfield">
					<p class="label-attribute">Email*</p>
					<input type="text" placeholder="Insira o email" id="price" name="email" />
				</div>

				<div class="label-textfield">
					<p class="label-attribute">Telefone*</p>
					<input type="text" placeholder="Insira o Telefone" id="price" name="telefone" />
				</div>

				<button type="submit" class="button-finalizar-pedido">Continuar</button>
			</form>
		</div>
	</body>
</html>
