<html lang="pt-BR">
	<head>
		<link rel="stylesheet" type="text/css" href="../../static/css/main.css" />
		<link rel="stylesheet" type="text/css" href="../../static/css/editarPedido.css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" type="text/css" />
		<title>Área administrativa | SGP</title>
		<script type="text/javascript" src="../../static/js/editarPedido.js"></script>
	</head>

	<body>
		<header class="menu-principal">
			<main>
				<div class="header-1">
					<div class="logo">
						<img class="img-logo" src="../../static/img/logo.png" alt="Logo SGP" />
					</div>
				</div>
			</main>
		</header>

		<div class="content">
			<button onclick="window.history.go(-1); return false;" class="back-button"></button>

			<div class="box-editar">
				<p class="main-title">Editar Pedido</p>

				<form action="">
					<div class="label-textfield">
						<p class="label-attribute">Valor pago</p>
						<input
							class="previsao-entrega"
							type="text"
							placeholder="Insira o valor pago..."
							id="price"
							name="valorPago" />
					</div>
					<button type="submit" class="button-salvar">Salvar</button>
				</form>
			</div>
		</div>
	</body>
</html>
